/* main */
#mainTable {
    margin: 0 auto;
    width: 500px;
    height: 300px;

    border-collapse: collapse;
    box-shadow: 0 0 0 1px #000;
    border-radius: 5px;
    border-style: hidden;
    margin-top: 150px;
}
.selectBtn {
    width: 210px;
    height: 60px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: tomato;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    
    /* 마우스가 벗어 났을 때에도 
    자연스럽게 크기가 줄어들기 위한 설정 */
    transform:scale(1.0);     
    transition: transform .5s;    
}
.selectBtn:hover {
    transform:scale(0.95);        
    transition: transform .5s;    
}
#title {
    padding: 20px 30px;
    font-size: 40px;
    font-weight: bold;
}
#content {
    padding: 20px 30px;
    font-size: 30px;
}
#footer {
    text-align: center;
    padding-bottom: 20px;
}


/* header */
#headerTable {
    margin: 0 auto;
    margin-top: 20px;
    /* border: 1px solid black; */
    text-align: center;
    line-height: 80px;
    font-size: 42px;
    font-weight: bold;
    color: tomato;

    width: 500px;
    height: 100px;
}

/* game */
#gameTable {
    margin: 0 auto;
    
}
#turnTable {
    margin: 0 auto;
    width: 500px;
    height: 100px;
    text-align: center;

    border-collapse: collapse;
    box-shadow: 0 0 0 1px #000;
    border-radius: 5px;
    border-style: hidden;
    margin-top: 20px;
    margin-bottom: 30px
}
.playerBtn {
    width: 220px;
    height: 70px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
}
#contentTable {
    margin: 0 auto;
    text-align: center;
}
.block {
    width: 155px;
    height: 155px;

    border-collapse: collapse;
    box-shadow: 0 0 0 1px #000;
    border-radius: 5px;
    border-style: hidden;

    cursor: pointer;
}
.spaceBlock {
    width: 5px;
    height: 5px;
}

#replayBtn {
    width: 500px;
    height: 70px;
    font-size: 25px;
    font-weight: bold;
    background-color: tomato;
    color: white;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;

    display: none;
}
